
/**************************
GENERAL
**************************/
html { position: relative; min-height: 100%;}
body {font: 100%/1.4 'Lato', Arial,Verdana,sans-serif; padding-bottom: 0; color:#000;
   margin-bottom: 160px; /* Margin bottom to match footer height */
}
main {position: relative; top: 200px;}

a, a:active, a:visited {text-decoration: none!important;}	
.blog-post {padding: 20px 0 0px 0;}

hr {height: 0px; border-top: 2px solid rgba(154,154,154,0.60);}

.btn-submit {
	text-align: center;
	border:none; 
	display:inline-block;
	cursor:pointer;	
	color:#fff!important; background-color:#9a9a9a; text-shadow: none; font-size: 19px; font-weight:600; padding: 4px 20px;

	-webkit-transition: background 0.3s ease; 
	-moz-transition: background 0.3s ease; 
	transition: background 0.3s ease;
}

.btn-submit:hover, .btn-submit:focus { background: #199dcd; color:#fff;}

/**************************
PANEL STYLES
**************************/
.panel {max-width:1600px; margin:auto; /*border:1px solid #000; */ width: 100%; z-index: 1000; position: relative;}

/**************************
NAVBAR
**************************/
.navbar-custom {background-color:#fff!important; padding: 20px; height:200px;}
.navbar-container {width:100%; height: 100%;}

.mr-auto, .mx-auto {margin-left: auto !important;margin-right: inherit !important;}
.navbar-collapse {height:50%;}

.affix .navbar-logo img{ height: 60px; }
.affix .navbar-collapse{ /*margin-top: 45px;*/ }
.affix .navbar-contacts{ margin-top: 0px; line-height: 23px; font-size: 14px; }
.affix .navbar-contacts a{ font-size: 20px;}
.affix .navbar-contacts span{font-size: 12px}
.affix .carousel-inner { top: 170px; }
.affix .navbar-toggler {top: 5px;}

/**************************
NAVBAR - LOGO
**************************/
.navbar-logo {padding: 0 10px;}
.navbar-logo img { 
	/* Fade In & Spin */
	-webkit-animation: fadein 10s, spin 10s ease 1; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 10s, spin 10s ease 1; /* Firefox < 16 */
        -ms-animation: fadein 10s, spin 10s ease 1; /* Internet Explorer */
         -o-animation: fadein 10s, spin 10s ease 1; /* Opera < 12.1 */
            animation: fadein 10s, spin 10s ease 1;		
}

/* Fade In */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Spin */
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {padding: 0 10px; text-align: right; height: 50%;}
.navbar-contacts a {color: #199dcd; text-decoration: none; padding:0 0px 0 20px;}
.navbar-contacts a:hover {color: #9a9a9a;}

/**************************
NAVBAR - SHOP
**************************/
.navbar-shop {padding: 0 10px;}
.navbar-shop a {color: #28a745; text-decoration: none; padding:0 5px;}
.navbar-shop a:hover {color: rgba(255,255,255,1);}

/**************************
HOME PAGE
**************************/
.home-intro {padding: 20px 0; text-align: center;}

/**************************
HOME PAGE - PAGES PANEL
**************************/
.home-pages {width: 100%; background: #fff; padding: 40px 0; text-align: center;}
.home-pages-img {padding: 10px 0; margin-bottom: 20px;}
.home-pages h2 {color:#000;}
.home-pages p {color:#000;}

.home-pages-img img { 
	/* Zoom In & Out */
	-webkit-animation: zoominout 7s infinite; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: zoominout 7s infinite; /* Firefox < 16 */
        -ms-animation: zoominout 7s infinite; /* Internet Explorer */
         -o-animation: zoominout 7s infinite; /* Opera < 12.1 */
            animation: zoominout 7s infinite;		
}

/* Zoom In & Out */
@keyframes zoominout {
    0% { transform: scale(1);}
    50%   { transform: scale(1.2); }	
	100%   { transform: scale(1); }	
}

/**************************
HOME PAGE - VIDEO PANEL
**************************/
.homeVideo {width: 100%;}
.homeVideoWrapper { width: 100%; padding: 0px; margin: 0 auto; clear: both; background: #fff;  overflow: hidden; padding: 20px 0px; }
.homeVideo img {width:100%;}

/**************************
HOME PAGE - NEWS PANEL
**************************/
.home-news {width: 100%; background: #343a40; padding: 40px 0; text-align: center;}
.home-new-img {padding: 10px 0;}
.home-news h2 {color:#fff;}
.home-news p {color:#fff;}

/**************************
HOME PAGE - PROJECTS PANEL
**************************/
.home-projects {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-projects-img {padding: 10px 0;}
.home-projects h2 {color:#fff;}
.home-projects p {color:#fff;}

/**************************
HOME PAGE - PRODUCTS PANEL
**************************/
.home-products {width: 100%; background: #999999; padding: 40px 0; text-align: center;}
.home-products-img {padding: 10px 0;}
.home-products h2 {color:#fff;}
.home-products p {color:#fff;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module a {color: #9a9da0; text-decoration: none;}
.sidebar-module a:hover {color: #000;}
.navsidebar .active > a {color: #000;}

/* Sub Menu */
.navsidebar-sub {padding-left:10px;}

/**************************
PRODUCTS MODULE
**************************/
.products-row .col-md-4 {padding-top: 15px;}
.products-row {margin-top: 0!important; padding-bottom: 0!important; min-height: 0!important;}
.products-row .col-3 img {width: 100%;}

.products-row-txt {position:relative; top: -60px; margin-bottom: -60px; background: rgba(255,255,255,0.80); padding: 5px; }
.products-row h2 {color:#000; text-transform: uppercase; font-size: 32px; font-weight: 700; margin-bottom: 10px; text-align: center;}
.products-row h3 {color:#999999; text-transform: uppercase; font-size: 18px; letter-spacing: 0px; font-weight: 600; text-align: center;}
.products-row h4 {color:#000; font-size: 18px; font-weight: 600; text-align: center;}

.products-row-a, .products-row-a img,.div-img  {overflow:hidden;}
.products-row-a:hover .div-img img {color:#000;  overflow:hidden; 
    transform:scale(1.1);
    -ms-transform:scale(1.1); /* IE 9 */
    -moz-transform:scale(1.1); /* Firefox */
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -o-transform:scale(1.1); /* Opera */
	background-color: #000;
}

.products-row-a:hover  {color:#000;  overflow:hidden;   
	opacity:0.6;
}
.products-row-a:hover h3 {color: #fff;}
.products-row-a:hover h4 {color: #fff; }
.products-row-a:hover .products-row-txt {background: rgba(0,0,0,1.00);padding-bottom: 2px!important;} 

.product-item-price {color:#000; font-weight:700; font-size: 18px;}
.product-item-description {padding: 10px 0;}
.product-item-shipping {padding-bottom:20px;}
.product-item-shipping h3 {text-transform: uppercase; font-weight:400; letter-spacing: 3px; font-size: 13px;}

.btn-cart {text-transform: uppercase; background: #99cccc; padding:12px 0px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; width: 100%;}
.btn-cart:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

/**************************
SHOPPING CART
**************************/
.hidden-country {display:none!important; height:0!important;}

.table thead th {border-bottom: 2px solid #99cccc;}
.table td, .table th {border-top: 1px dotted #99cccc;}
.table thead th {letter-spacing: 4px; color:#000; font-size: 18px; border-top: none;}
.table td {color:#000; font-size: 16px; font-weight: 400;}
.table tfoot th {color:#000; font-size: 16px; text-align: right; border-top: 1px solid #99cccc; font-weight: 700;}
.td-center {text-align: center;}
.td-right {text-align: right;}

.btn-cart-remove {color: #99cccc!important; text-decoration: none; font-size: 16px !important; font-weight: 600; letter-spacing: 2px; position: relative; top: -4px; padding: 0; text-transform: lower;}	
.btn-cart-remove i {position: relative; top:1px;}
.btn-cart-remove:hover {color: #000!important; text-decoration: none;}

.btn-cart-shopping {color: #99cccc!important; text-decoration: none; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lower;}	
.btn-cart-shopping:hover {color: #000!important; text-decoration: none;}

.btn-checkout, .btn-checkout:active, .btn-checkout:visited {text-transform: uppercase; background: #99cccc; padding:12px 20px; color:#fff; font-size: 18px; letter-spacing: 4px; font-weight: 600; border: none; border-radius: 0;  border: 1px solid #99cccc;}
.btn-checkout:hover {background: #fff; color:#99cccc; border: 1px solid #99cccc;}

#checkout h3 {color: #99cccc !important; font-size: 18px !important; font-weight: 600; letter-spacing: 2px; text-transform: lowercase;}

.alert-info {
    color: #000;
    background-color: #fff;
    border-color: #99cccc;
    border-radius: 0;
    letter-spacing: 2px;   
    font-weight: 600;
    margin: 0 0px 20px 0px;
}

.alert-error {color:#FB0307}

.form-control-feedback {color: #CC0000; padding: 10px 0px 0px 10px;}

**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 185px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #999999;
  text-align: left;
}

.footerContacts {margin: auto; width: 100%;font-size: 15px; padding-top: 12px;}
.footerContacts h2 {font-size: 15px; /*color:#f6862d;*/ margin-bottom: 10px;}
.footerContacts p {font-size: 15px; margin-bottom: 0px;}
.footerContacts a {color: #000; font-size: 15px;}
.footerContacts a:hover {color:#f6862d;}
.footerContacts strong {color:#f6862d; font-weight: 700;}
.footerContacts img {width:70%;}

.footer-newsletter {}
.footer-newsletter h2 {color:#fff; font-size: 24px;}
.footer-newsletter h3 {color:#fff; font-size: 16px;}
.footer-newsletter input {height:36px; width:306px;}
.footer-newsletter .btn-submit {padding:0 10px; width:auto;}

.footer-newsletter-controls {width:100%;}
.footer-newsletter-input {width:45%; float:left; } 
.footer-newsletter-btn {width:10%; float:left; position: relative; top:5px; } 


#footer-social {color: #000; width:100%; margin: 0 auto; text-align: left; font-size: 13px; /*position: relative; top: 55px; */}
#footer-social h2 {color:#000; text-transform: uppercase; font-weight: 600; font-size: 10px;}
#footer-social i {font-size:18px; padding: 0px 15px 0 0;}
#footer-social .fa-instagram, #footer-social .fa-linkedin-in {padding: 10px 12px;}
#footer-social a, #footer-txt a:active {color: #000; text-decoration: none; font-size: 13px; line-height: 120%; font-weight: 300;}
#footer-social a:hover > i { color: #000; text-decoration: none;}

#footer-txt {color: #fff; width:100%; margin: 0 auto; text-align: center; font-size: 16px; background:#333333; height:35px; padding-top: 5px;}
#footer-txt a, #footer-txt a:active {color: #fff; text-decoration: none; font-size: 16px; line-height: 120%; padding: 0 10px;}
#footer-txt a:hover{ color: #000; text-decoration: none;}
#footer-txt img {padding: 0 50px;}
.footer-txt-logo {display:inline-block;}

.footer-menu {text-align: right;}
.footer-menu a { font-size: 14px; margin-bottom: 8px; display: inline-block; text-align: right;}
.footer-menu a:hover {color:#000;}

.footer-support {width:100%; text-align: center; background-color: #9a9a9a;}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 5px; font-size: 16px;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more {width: auto; margin-top: 10px!important; text-align: center;  } /* style used on button tag */
.btn-more a, .btn-more a:active, .btn-more a:visited { }
.btn-more a:hover {}

.btn-back {width:100%; font-size: 11px!important; font-weight: 400;  padding: 20px 0 0 0; }
.btn-back a, .btn-back a:active, .btn-back a:visited {color: #cc0000!important; text-decoration: none;}	
.btn-back a:hover {color: #cccccc!important;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: 65%;}
.news-list-item-img {float: right;  width: 35%;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}


.team-block.cards-team .card{
    transition: 0.4s ease;
}

.team-block.cards-team .card img {}

@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
RESPONSIVE
**************************/
@media only screen and  (max-width: 768px) {
    .container .row {width: 100%; padding: 0px; min-height: 50px; display: -webkit-flex;display: -webkit-box;  flex-direction: column; -webkit-flex-direction: column;}		
	
	.blog-sidebar  {width: 100%; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2; }			
	.blog-main { width: 100%; padding: 20px 10px 10px 10px; margin: 0; background: none; border: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%;}	
}