/************************** 
GENERAL
**************************/
html { position: relative; min-height: 100%; font-size: 18px;}
body {font: 100%/1.4 'Lato', Arial,Verdana,sans-serif; padding-bottom: 0; padding-top: 1px; color:#000;
   margin-bottom: 220px; /* Margin bottom to match footer height */
} 

main { overflow:hidden;}

a, a:active, a:visited {text-decoration: none!important;}	
.blog-post {padding: 0px;}
::placeholder {color: #000; opacity:  1; }
input {padding: 5px 10px; font-size:19px;}
.blog-sidebar, .blog-main {/*margin-top: 40px; margin-bottom: 40px;*/}
.blog-sidebar {padding-left: 0; /*border-right: 2px solid rgba(154,154,154,0.60 );*/}
.blog-main-full {/*max-width: 100%; flex: 100%;*/ margin:auto;}

hr {height: 0px; border-top: 2px solid rgba(154,154,154,0.60 );}

.btn-submit {
	text-align: center;
	border:none; 
	display:inline-block;
	cursor:pointer;	
	color:#fff!important; background-color:#0c457f; text-shadow: none; font-size: 16px; font-weight:600; padding: 4px 20px;
    border-radius: 30px;
	-webkit-transition: background 0.3s ease; 
	-moz-transition: background 0.3s ease; 
	transition: background 0.3s ease;
	text-transform: uppercase;
}

.btn-submit:hover, .btn-submit:focus { background: #07bfe9; color:#fff;}

.btn-donate {background-color:#07bfe9; padding: 4px 40px; border: 1px solid #07bfe9;}
.btn-donate:hover, .btn-donate:focus {background: #fff; color:#07bfe9!important; }

/**************************
GENERAL STYLES
**************************/
.container { color:#000; font-size: 18px; font-weight:500; line-height: 150%; padding: 0; /*max-width: 1400px; */ z-index: 1000;  width: 100%; max-width: 100%;}
.marketing {position: relative; /*top: -320px; margin-bottom: -320px;*/}
.blog-post blockquote p {color:#000; font-size: 17px; font-weight: 700; padding: 0; border-left: 2px solid #000; margin: 30px 0px; padding-left: 30px; }  

.blog-post a, a:active, .blog-post a:visited{ text-decoration: none; color:#199dcd; border:none; border-radius: unset!important; /*text-transform: uppercase; */ font-size: 17px;}
.blog-post a:hover{ color: #9a9a9a; text-decoration: none;}

blog-post img { -ms-interpolation-mode: bicubic; border: none; }
.blog-post a img { border: none;}

.blog-post p {font-size: 17px;}
.blog-post h1 {color: #199dcd; font-size: 30px; font-weight:600; padding-bottom: 20px;}
.blog-post h2 { color: #000; font-weight: 700; font-size: 20px; line-height: 110%; padding: 5px 0 5px 0; text-transform:uppercase; }
.blog-post h3 { color: #000; font-weight: 500; font-size: 20px; line-height: 110%; padding: 15px 0 10px 0; }
.blog-post h4 { color: #000; font-size:18px; line-height: 110%; padding: 15px 0px 8px 0px; font-weight: 700; text-transform:uppercase;}
.blog-post h5 { color: #000000; font-weight: 700; font-size: 18px; line-height: 110%; padding: 15px 0 5px 0; }
.blog-post hr { border-top: 1px solid #000;}

.blog-post ul { font-size:18px; line-height: 150%; 
	list-style-type: none;
	padding-left: 20px;
	margin: 10px 0 10px 10px;}

.blog-post li { color:#000; padding-left: 15px; margin-bottom: 3px;font-size: 17px; list-style-type: circle;}

/**************************
PANEL STYLES
**************************/
.panel {max-width:1500px; margin:auto; /*border:1px solid #000; */ width: 100%; z-index: 1000; position: relative; padding-bottom: 50px;}

/**************************
GENERAL STYLES
**************************/
.container { color:#000; font-size: 18px; font-weight:500; line-height: 150%; padding: 0; /*max-width: 1400px; */ z-index: 1000;  width: 100%; max-width: 100%;}
.marketing {position: relative; /*top: -320px; margin-bottom: -320px;*/}


/**************************
NAVBAR
**************************/
.navbar-custom {background-color:#fff!important; padding: 0px; height:175px;
	-webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    background-color: #e8ecf2;
}
.navbar-container {width:100%; height: 70%; position: absolute; top: 20px; right: 20px;}

.mr-auto, .mx-auto {margin-left: auto !important;margin-right: inherit !important;}
.navbar-collapse {height:80%;}
.navbar-nav .active {color: #199dcd!important;}
.navbar-nav .nav-link, .dropdown-item {font-size:19px!important;}


.custom-toggler {border:none!important; padding: 10px; position: absolute; top: 40px; right: 0;}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(25,157,205,1.00)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

button:focus {outline: none;}


/**************************
NAVBAR - LOGO
**************************/
.navbar-logo {padding: 0px 0 0 10px; position: absolute; top: 0px; z-index: 100; height: 175px;}
.navbar-logo img {    padding: 10% 0 7% 0; height: 90%;}
.navbar-txt {width:100%; text-align: center; background-color: #333333; height:26px; font-size:18px; color:#fff;}

.affix {
    height: 105px !important;*/
    ppadding-top: 0.2em !important;
    ppadding-bottom: 0.2em !important;
    -webkit-transition:padding 0.2s linear;
    -moz-transition:padding 0.2s linear;
    -o-transition:padding 0.2s linear;
    transition:padding 0.2s linear;
}

.affix .navbar-logo img{ height: 100px; }
.affix .navbar-collapse{ height:60%;/*margin-top: 45px;*/ }
.affix .navbar-contacts {top: -10px;}
.affix .navbar-contacts a, .affix .navbar-contacts div { font-size: 16px;}
.affix .navbar-contacts span{font-size: 12px}
.affix .carousel-inner { top: 170px; }
.affix .navbar-toggler {top: 5px;}

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {padding: 0 10px; text-align: right; height: 50%; text-transform: uppercase; color:#000; }
.navbar-contacts div {text-align: right; display: inline-block; font-size: 18px; padding-right: 0.5rem}
.navbar-contacts a {color: #000; text-decoration: none; padding:0;}
.navbar-contacts a:hover {color: #9a9a9a!important;}

/**************************
HOME PAGE
**************************/
.home-intro {padding: 20px 0; text-align: center;}
.home-intro h1 {font-size:30px;}

.donate-intro h2 {font-size:30px;}
	
.home-facebook {
    text-align: center;
    height: 100%;
    width: 90%;
    margin: auto;
}

/**************************
HOME PAGE - PAGES PANEL
**************************/
.home-pages {width: 100%; background: #fff; padding: 40px 0; text-align: center;}
.home-pages-img {padding: 0; margin-bottom: 20px;}
.home-pages h2 {color:#000;font-size: 20px; font-weight: 600;}
.home-pages p {color:#000; padding: 0 5%;}

.home-pages-box {border:1px solid #000; height: 100%; padding-bottom: 60px;}
.home-pages-box p:last-child {position: absolute; bottom: 0;  padding: 0 30px;}
.home-pages-img img {width:100%;}

/**************************
HOME PAGE - CONTACT FORM PANEL
**************************/
.home-contact {float:left; width:340px; z-index: 1; position: absolute; top: 5%; right: 30px; background: #fff; padding:20px; overflow: hidden;}
.home-contact h2 {font-size: 17px; text-transform: uppercase; text-align: center; margin: auto; width:80%; padding-bottom: 15px; font-weight: 600;}
.home-contact .fb-text-label, .home-contact .fb-select-label, .home-contact .fb-textarea-label, .home-contact .fb-textarea,
.contact-page .fb-text-label, .contact-page .fb-select-label, .contact-page .fb-textarea-label
	{display:none; visibility: hidden; height: 0;}
.home-contact .form-control, .contact-page .form-control {background: #ECECEC; border:none; border-radius: 0!important;}
.home-contact .form-control::placeholder, .contact-page .form-control::placeholder {color:#000;}
.home-contact .btn-submit {width:100%; margin-top: 15px;}
.contact-page .btn-submit { margin-top: 15px;}
.contact-page .fb-textarea {display:block; visibility: visible; height: auto;}
.contact-page select {display:none!important; visibility: hidden!important; height: 0!important;}

.divContact {padding-top:20px;}
.divContact a {color:#0C4479; font-size: 17px;}
.divContact a:hover {color:#000; font-size: 17px;}

/**************************
CONTACT FORM PANEL
**************************/
.panel-contact {width:100%; background: #f0f26b; padding: 100px 10px;}
.panel-contact form {max-width: 650px; margin:auto;}
.panel-contact h2 {font-size: 30px; text-transform: uppercase; text-align: center; margin: auto; width:80%; padding-bottom: 30px; font-weight: 600; color:#199dcd;}
.panel-contact .fb-text-label, .panel-contact .fb-select-label, .panel-contact .fb-textarea-label, .panel-contact .fb-textarea {display:none; visibility: hidden; height: 0;}
.panel-contact .form-control {background: #fff; border:none; border-radius: 0!important;}
.panel-contact .form-control::placeholder {color:#000;}
.panel-contact .btn-submit {width:100%; margin-top: 15px; padding: 15px 0;}

/**************************
HOME PAGE - VIDEO PANEL
**************************/
.homeVideo {width: 100%;}
.homeVideoWrapper { width: 100%; padding: 0px; margin: 0 auto; clear: both; background: #fff;  overflow: hidden; padding: 20px 0px; }
.homeVideo img {width:100%;}

/**************************
HEADER PANEL
**************************/
.header-logo {position: fixed; z-index: 2; margin-left:50px; margin-top:30px; }
.header-logo-img {width: 100%;}
.header-logo-img-smaller { 
	position: relative;
	transform-origin: top left;
	transition: all 1s ease-in-out;	
	transform: scale(0.35);	
}
.header-logo-img-larger {
	position: relative;
	transform-origin: top left;
	transition: all 1s ease-in-out;	
	transform: scale(1);	
}

.header {margin-bottom: 0;}
  
/**************************
HOME PAGE - SLIDER
**************************/
.carousel {margin-bottom: 0; position: relative; top: 169px; margin-bottom: 200px;}
.carousel-inner {margin-bottom: 150px;}
.carousel-item {height:750px; background-size: cover}
.carousel-item > img {height: 1066px; right:0!important; left:auto!important; z-index: 10; position: relative;}	
.carousel-item h1 {}
.carousel-caption {left: 0%!important; right: 0%!important; bottom:0;/* width: 85%; */ margin: auto; padding-bottom:0!important; bottom: 55px;}
.carousel-control-next, .carousel-control-prev {width:3%;}

.carousel-caption-txt {background: rgb(255,255,255, 0.5); text-align: left; padding: 20px 90px;}
.carousel-caption-txt h1 {font-size: 25px;}
.carousel-caption-txt p {color:#000; font-size: 15px; text-align: left; margin-bottom: 0px;}

.inside-page {height:200px;}
.inside-page .carousel-item > img {height: 149px}

#myCarousel-mobile  {display:hidden; visibility: hidden; height:0;}
.carousel-item-mobile {height:auto;}

.carousel-inner {overflow:inherit;}

.divLayerSlider { position: relative; top: 174px; margin-bottom: 180px; background-image: url(../../images/site/slider-background.jpg);}
#layer-slider {width:100%;height:556px!important;margin:0 auto;margin-bottom: 0px;}

.divLayerSlider-inner {overflow: hidden !important; height: 170px;}

.divLayerSlider-caption {position:absolute; z-index: 100; top:30%; left:12%; color:#fff; font-size: 45px; font-weight: 200;}
.divLayerSlider-inner .divLayerSlider-caption {top:10%;}

.divLayerSlider-support {position:absolute; z-index: 100; top:3%; right:1%; text-align: center;
    -webkit-animation: fadeinlogo 10s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadeinlogo 10s; /* Firefox < 16 */
        -ms-animation: fadeinlogo 10s; /* Internet Explorer */
         -o-animation: fadeinlogo 10s; /* Opera < 12.1 */
            animation: fadeinlogo 10s;
}
.divLayerSlider-support div {color:#fff; font-size:10px; font-weight: 700; text-transform: uppercase; text-align: center; padding-bottom: 5px; }

/* Fade In Logo */
@keyframes fadeinlogo {
    0%{opacity:0}
    20%{opacity:0}
    100%{opacity:1}
}

@-webkit-keyframes fadeinlogo{
    0%{opacity:0}
    20%{opacity:0}
    100%{opacity:1}
}

.carousel-inside .carousel-item {height:0;}
.carousel-inside .carousel-item > img {height:0;}

/**************************
HOME PAGE - SLIDER - MOBILE
**************************/
.panelLinks {width:100%; background: #fff; text-align: center; margin:auto;}
.home-links {width: 90%; background: #fff; padding: 10px 0; text-align: center; margin: auto;}
.home-links-img {padding: 10px 0;}
.home-links h2 {color:#fff;}
.home-links p {color:#fff;}
.home-links .cycle-slide {width:auto!important;}

/**************************
NAVBAR - CONTACTS
**************************/
.navbar-contacts {padding: 0 10px;}
.navbar-contacts {color: #000; text-decoration: none; padding:0 5px;font-size:18px!important; font-weight: 600; position: relative; top:0px; padding-right: 0;}
.navbar-contacts a:hover {color: #f6862d;}
.navbar-contacts a i {font-size:22px;}

/**************************
HOME PAGE
**************************/
.featurette {width:100%; margin: 0px auto 0px auto;}

#introWrapper { width: 100%; padding: 0px; margin: 0 auto; clear: both; background: #fff;  overflow: hidden; padding: 0px 50px; }
#intro {display: -ms-flex; padding: 20px 0;
display: -webkit-flex;
display: flex;
/*display: -webkit-box; *//* safari, ipad */  
display: -ms-flexbox;
flex-direction: row;
-webkit-flex-direction: row; 
overflow:hidden;}

.introPanelOne { width: 40%; box-sizing: border-box;overflow: hidden; }	
.introPanelTwo { width: 60%;  box-sizing: border-box;}	

.introPanelOne img {height:100%; /*height:100%;*/ float: right;}

.introPanelTwo-txt {}

.introPanelTwo-txt h1 {color:#000; font-weight: 600; font-size: 49px; text-align: left; margin-bottom: 10px;} 
.introPanelTwo-txt strong {/*color:#f6862d;*/ font-weight: 600;}
.introPanelTwo-txt h2 {color:#000; font-weight: 600; font-size: 25px; text-align: left;} 
.introPanelTwo-txt p {color:#000; font-size: 15px; line-height: 150%; width: 100%; text-align: left;}

.intro-container #introWrapper{ padding: 0px 30px !important; }
.intro-container #intro{ padding: 30px 0 !important; }

/**************************
HOME PAGE - QUOTE PANEL
**************************/
.home-quote {background: #07bfe9; color:#fff; text-align: center; padding: 100px 0; font-size: 24px; font-weight: 600;}
.home-quote img {margin-bottom: 40px;}

/**************************
PAGES - TEAM PANEL
**************************/
.team {width:100%;}
.team-member {width:50%; float:left; text-align: center;}
.team-member div { padding:40px; background: #0c457f; margin:20px; color:#fff;}
.team-member div img {border-radius:50%;}
.team-member div h2 { color:#199dcd;}
.team-member div ul li {color:#fff; padding-left:0;}

/**************************
HOME PAGE - ABOUT US PANEL - PARALLAX PANEL
**************************/
.panelHomeAbout {background-color:#333333;}
.parallaxParent1 {
	height: 682px;
	overflow: hidden;
}
.panelHomeAbout-responsive {display: hidden; visibility: hidden; height:0;}

.parallaxParent1 > * {
	height: 200%;
	position: relative;
	top: -100%;
}

.parallaxParent3 {
	height: 600px;
	overflow: hidden;
}
.parallaxParent3 > * {
	height: 200%;
	position: relative;
	top: -100%;
}
	
.parallax2-img {width:50%; float:right; background-image: url(../../images/site/about-us-parallax.jpg); background-repeat: no-repeat; /*background-size:cover;*/ background-position: center;}
.parallax2-img-mod {background-size:100%;}

.parallax1-block {position: absolute; width: 100%; z-index: 1; text-align: center;}

.parallax2-block {position: absolute; width: 100%; z-index: 1; text-align: center;}
.parallax2-txt {position: relative; top:50px; width:50%; float:left;}
.parallax2-txt-txt {width:70%; text-align: center; margin:auto;}
.parallax2-txt-txt h2, .parallax2-txt-txt-responsive h2 {text-align: center; font-family: "Ovo",Helvetica,Arial,sans-serif; font-size:43px; text-transform: uppercase; color:#fff;}
.parallax2-txt-txt h3, .parallax2-txt-txt-responsive h3 {font-size:22px; color:#fff; padding-bottom: 20px;}
.parallax2-txt-txt p, .parallax2-txt-txt-responsive p {font-size:18px; color:#fff; padding-bottom: 10px;}
.parallax2-txt-txt  hr, .parallax2-txt-txt-responsive hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid #fff;
}
.parallax2-txt-txt-responsive h2, .parallax2-txt-txt-responsive h3, .parallax2-txt-txt-responsive p {color:#333333; text-align: center;}
.parallax2-txt-txt-responsive hr {border-top: 1px solid #333333;}
.parallax2-txt-txt-responsive .btn-readmore {text-align: center; }

.parallax2-txt .btn-readmore .btn-submit {color: #fff!important; background-color: #333333;border: 1px solid #fff;padding: 7px 100px;}
.parallax2-txt .btn-readmore .btn-submit:hover {color:#333333!important; background-color: #fff;}

/**************************
HOME PAGE - EVENTS PANEL
**************************/
.panelHomeEvents {padding:30px 0;}
.home-events {text-align: center; padding: 0 20px;}
.home-events h2 {text-align: center; font-family: "Ovo",Helvetica,Arial,sans-serif; font-size:43px; text-transform: uppercase; color:#333333;}
.home-events h3 {text-align: center; font-size:22px; color:#333333; border-bottom: 1px solid #999999; padding-bottom: 15px;}
.home-events p {text-align: center; font-size:18px; color:#333333; padding-top: 5px;}
.home-events .btn-readmore {padding: 10px 0;}

.home-facebook {text-align: center; height:100%; width:90%; margin:auto;}

.home-events-border { border-left: 2px solid #999999;}

/**************************
NAVSIDEBAR
**************************/
.sidebar-module a {color: #000; text-decoration: none;}
.sidebar-module a:hover {color: #000;}
.navsidebar .active > a {}
.offset-sm-1 {margin-left: 3%;}
.col-sm-8 {padding:0!important;}
/* Sub Menu */
.navsidebar-sub {padding-left:15px;}

.sidebar-module { text-align: left; padding-top:10px; margin-right: 40px; text-align: left;}
.sidebar-module h4 {color:#199dcd; font-size: 17px; text-align: left; margin-bottom: 3px; font-weight: 400;}
.sidebar-module li {text-align: left; /*padding-bottom: 10px; padding-top: 10px;*/}
.sidebar-module a {color:#000; font-size: 17px!important; background: none!important; }
.sidebar-module a:hover {color:#999999;}
.sidebar-module select {width:100%; margin-top:15px;}

.navsidebar-sub-sub li {border:none!important; padding:0;}
.navsidebar-sub-sub li a {font-size: 14px;}

/**************************
FOOTER
**************************/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 220px; /* Set the fixed height of the footer here (for sticky footer) */
  background-color: #fff;
  text-align: left;
}

.footerContent {height: 185px; padding: 40px 0 0 0;}
.footerContacts {margin: 20px auto; width: 100%;font-size: 15px; }
.footerContacts h2 {font-size: 15px; /*color:#f6862d;*/ margin-bottom: 10px;}
.footerContacts p {font-size: 15px; margin-bottom: 0px;}
.footerContacts a {color: #000; font-size: 15px;}
.footerContacts a:hover {color:#199dcd!important;}
.footerContacts strong {color:#f6862d; font-weight: 700;}
.footerContacts img {width:50%;}

.footer-company {color:#0c447c; font-size:24px; font-weight: 600; text-align: right; padding-right: 20px;}
.footer-address, .footer-address h3, .footer-phone, .footer-phone h3, .footer-phone a {color:#0C4479; font-size:18px; font-weight: 400;}
.footer-phone a:hover {color:#000;}
	
.footer-newsletter {}
.footer-newsletter h2 {color:#fff; font-size: 24px;}
.footer-newsletter h3 {color:#fff; font-size: 16px;}
.footer-newsletter input {height:36px; width:306px;}
.footer-newsletter .btn-submit {padding:0 10px; width:auto;}

.footer-newsletter-controls {width:100%;}
.footer-newsletter-input {width:45%; float:left; } 
.footer-newsletter-btn {width:10%; float:left; position: relative; top:5px; } 


#footer-social {color: #000; width:100%; margin: 0 auto; text-align: left; font-size: 13px; /*position: relative; top: 55px; */}
#footer-social h2 {color:#000; text-transform: uppercase; font-weight: 600; font-size: 10px;}
#footer-social i {font-size:18px; padding: 0px 15px 0 0;}
#footer-social .fa-instagram, #footer-social .fa-linkedin-in {padding: 10px 12px;}
#footer-social a, #footer-txt a:active {color: #000; text-decoration: none; font-size: 13px; line-height: 120%; font-weight: 300;}
#footer-social a:hover > i { color: #000; text-decoration: none;}

#footer-txt {color: #fff; width:100%; margin: 0 auto; text-align: center; font-size: 16px; background:#9a9a9a; height:35px; padding-top: 5px;}
#footer-txt a, #footer-txt a:active {color: #fff; text-decoration: none; font-size: 16px; line-height: 120%; padding: 0 10px;}
#footer-txt a:hover{ color: #000; text-decoration: none;}
#footer-txt img {padding: 0 50px;}
.footer-txt-logo {display:inline-block;}

.footer-menu {text-align: right;}
.footer-menu a { font-size: 16px; margin-bottom: 8px; display: inline-block; text-align: right;}
.footer-menu a:hover {color:#000;}

.footer-support {width:100%; text-align: center; background-color: #BDBCBC; height: 215px;}
.footer-support div {color:#686868; font-size: 30px; font-weight: 200; padding: 50px 0 0 0; font-weight: 300;
	overflow: hidden; /* Ensures the content is not revealed until the animation */  	
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .15em; */ /* Adjust as needed */
	
    animation: typing 10s steps(40, end) infinite;
}

/* Typing */
@keyframes typing {
  0% { width: 0 }
  100% { width: 100% }
}

/**************************
PREVIEW BAR
**************************/
.preview {width:100%; height:52px; background-color: #a6dbd7; position:fixed; z-index: 1000; top:0; color:#fff; }
.preview .navbar-logo {height: 54px; width: auto; position: relative; top: -2px;margin-left: 15px}
.preview, .preview a {font-size: 20px; color:#fff; font-weight: 500; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.preview a:hover {color: #000!important;}
.preview a i {padding-top: 15px;}
.preview-return {float:right; margin-right: 30px;}
.preview-return a {font-size:16px; color:#b71319;}
.preview .spacer {padding: 0 10px;}

/**************************
HELPER - SHARING
**************************/
#share {font-size: 11px!important; border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.a2a_menu a {font-size: 13px!important;}
.a2a_menu {background: #e8e8e8!important; }
a.a2a_i, i.a2a_i {border: none!important;}
#share i {font-size: 18px; padding: 0 7px 0 0;}
#share a {padding: 0 7px 0 0;}
.share-space {float: left; padding: 0 70px 0 0; }
.share-space a {color: #444; }
.share-space a:hover {color: #ccc; }

/**************************
HELPER - PAGINATION
**************************/
#pagination {border-top: 1px #e8e8e8 solid; margin-top: 20px; padding: 20px 0; clear: both;}
.pagination  li {padding: 0 5px; font-size: 16px;}

/**************************
HELPER - BUTTONS
**************************/
.btn-more a, .btn-more a:active, .btn-more a:visited {color: #9a9a9a!important; text-decoration: none;}	
.btn-more a:hover {color: #199dcd!important;}

.btn-back a, .btn-back a:active, .btn-back a:visited {color: #199dcd!important; text-decoration: none;}	
.btn-back a:hover {color: #9a9a9a!important;}

/**************************
NEWS MODULE
**************************/
.news-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.news-list-item .btn {padding: 2px 20px;}
.news-list-item-txt {float: left;   width: 65%;}
.news-list-item-img {float: right;  width: 35%;}

.news-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.news-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.news-item-img {float: right;  width: 35%; height: auto; padding-top: 20px;  text-align: center; margin: 0;}	
.news-item-img img {width: 100%; max-width: 100%; height: auto;}

/**************************
FAQS MODULE
**************************/
.faqs .accordion-toggle {text-decoration: none!important;}
.faqs .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Font Awesome\ 5 Free';  /* essential for enabling glyphicon */
    content: "\f078";    /* adjust as needed, taken from bootstrap.css */
    padding-left:10px;
	font-weight:900
}
.faqs .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f054";    /* adjust as needed, taken from bootstrap.css */
}

/**************************
DOCUMENTS MODULE
**************************/
.document-wrapper {width:100%; clear:both; border-top: 1px #007bff solid; padding: 10px 10px;}
.document-title {float:left;}
.document-link {float:right;}
.document-link a, .document-link a:active, .document-link a:visited {text-decoration: none;}	
.document-details {width:100%; clear:both; padding-bottom: 5px; }

/**************************
GALLERY MODULE
**************************/
.gallery-block{
	padding-bottom: 60px;
	padding-top: 60px;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold; 
}

.gallery-block.cards-gallery .card{
  transition: 0.4s ease; 
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
}

.gallery-block.cards-gallery .card-body {
  text-align: center; 
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px; 
}

.gallery-block.cards-gallery a {
  color: #212529; 
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none; 
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px; 
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

@media (min-width: 576px) {

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);
	    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
	}
}

/**************************
PROJECTS MODULE
**************************/
.project-list-item {clear:both;  padding: 20px 0px; overflow: hidden;}
.project-list-item .btn {padding: 2px 20px;}
.project-list-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-list-item-img {float: right; text-align: center;margin: 0 0 20px 0;}	
.project-list-item-img img {width: 100%; max-width: 100%; height: auto;}

.project-item {clear:both; padding: 10px 0px; overflow: hidden; width:100%;}
.project-item-txt {float: left;   width: 65%; padding-right: 20px;  }
.project-item-img {float: right;  width: 35%; height: auto; text-align: center;}	
.project-item-img img {width: 100%; max-width: 100%; height: auto; } 

.project-block.cards-project .card{
  transition: 0.4s ease; 
}

.project-block.cards-project .card img {}

@media (min-width: 576px) {
	.project-block .transform-on-hover:hover {
	    transform: translateY(-10px) scale(1.02);	   
	}
}


.team-block.cards-team .card{
    transition: 0.4s ease;
}

.team-block.cards-team .card img {}

@media (min-width: 576px) {
    .team-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
    }
}

/**************************
RESPONSIVE
**************************/
@media screen and (max-width: 480px) {
	.navbar-custom {padding: 0px;}
	.navbar-logo {padding:0;}
	.affix .navbar-logo {top:0!important;}
	.footer-support div {font-size:18px;}
	
	.carousel-item, .carousel-item > img {height:320px!important;}
	
	.divLayerSlider {height:500px;}
	.divLayerSlider-caption {left:0!important; bottom: 0; top:auto; font-size: 20px!important; text-align: center; width:100%; background-color:rgba(255,255,255,0.4);}
	.layer-slider-img2 {height:500px!important; width:auto!important; margin-top:15px!important;}
	.divLayerSlider-inner {height:400px;}
	.divLayerSlider-inner .divLayerSlider-caption {display:hidden; visibility: hidden; height:0;}
	
}

@media only screen and  (max-width: 768px) {
   
}

@media only screen and  (max-width: 991px) {
	.blog-masthead .container {width:100%; max-width: 100%; margin-bottom:0;}
	.blog-sidebar  {width: 100%!important; max-width: 100%!important; padding: 0 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 2; order: 2;flex: auto; }			
	.blog-main { width: 100%; padding: 0px 10px 10px 10px!important; margin: 0; background: none; -webkit-order: 1; order: 1; flex:none!important; max-width: 100%; margin-top: 20px;}
	.sidebar-module {text-align: left;}
	.sidebar-module h4 {text-align: left;}
	.sidebar-module li {text-align: left;}
	.sidebar-module {margin-right:0;}
	.panel {padding-bottom: 0;}
	
	.carousel {top:100px; margin-bottom: 100px;}
	.carousel-inner {margin-bottom:0;}
	.carousel-inside .carousel-item, .carousel-insid.carousel-item > img {height:0!important;}
	.carousel-item, .carousel-item > img {height:500px;}
	.carousel-indicators {display: none; visibility: hidden; height: 0;}
	
	.navbar-container {position: absolute; right: 0px; top: 10px;}
	.navbar-contacts {padding-right:10px; }
	.navbar-toggler {z-index: 2000;}
	.navbar-custom {height:100px!important;}
	.navbar-logo {z-index: 2000; height:100px; padding:0;}
	.navbar-logo img {padding: 5% 0;  width:auto!important; /*height:100%!important; width: auto!important;*/}
	.navbar-nav {background: #fff; z-index: 50000; position: relative; top: 55px;}
	.navbar-expand-lg .navbar-nav .nav-link {text-align: center;}
	.navbar-contacts div {padding-right:0}
	.navbar-contacts a, .navbar-contacts div {font-size:16px;}
	
	.affix {height:100px!important;}
	.affix .navbar-logo {/*position: relative; top:-7px;*/}
	.affix .navbar-toggler {top: 40px;}
	.affix .navbar-nav {top:55px;}
	.affix .navbar-contacts {top:0!important;}
	.affix .navbar-logo img {height:90%!important; width:auto!important;}
	
	.divLayerSlider-caption {left:5%; font-size: 30px;}
	
	.home-pages {padding:0;}
	.home-pages-img {}
	.featurette {width:90%;}
	hr {width:90%;}
	
	.donate-intro {margin-top:20px; text-align: center;}
	.donate-intro img {width:100%;}
	
	.home-col-facebook {
		width: 100%;
		float: none;
		display: block;
		-webkit-order: 2;
		order: 2;
		flex: auto;
	}
	
	.blog-masthead {margin-top:20px; width: 90%; margin: auto;}
	.blog-main {}
		
	.footerContacts {text-align: center;}
	.footerContacts img {width: 20%;}
	.footer-menu {text-align: center;}
	
	.layer-slider-img1 {display:none!important; height:0!important; visibility: hidden!important;}
	.layer-slider-img3 {display:none!important; height:0!important; visibility: hidden!important;}
	
	.home-pages-box {border:none;}
	.home-pages-box p:last-child {position: inherit;}
	
	.footerContent {height:320px;}
	.footer-company, .footer-address, .footer-phone {text-align: center; padding-bottom:20px;}
	
	.team-member {width:100%; float:none;}
	
	.home-contact { position: relative; float:none; width:100%; top: 0; right: 0; padding: 20px 20px 0 20px;}
	
	.panel-contact {padding: 50px 20px;}
	.panel-contact h2 {width:100%;}
	
	.home-quote { padding: 50px 0;}
	
	.blog-post div {float:none!important; width: 100%!important;}
	
	.team-member div {margin:0 0 40px 0!important;}
	
	#footer-txt a, #footer-txt a:active {padding: 0 5px;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For ipad portrait layouts only */	
	.affix .navbar-logo {top:0;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For ipad landscape layouts only */
	.divLayerSlider-caption {left:5%; font-size: 30px;}
	hr {width:95%;}
	.donate-intro img {width:100%;}
}

/* Extra Break Points */
@media only screen and (min-device-width: 769px) and (max-width: 1550px) {	
	.divLayerSlider-caption {left:5%;}
}

/*Bootstrap Responsive Breakpoints*/

@media (max-width: 575.98px) {
	.home-contact{
		width: 100% !important;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.home-contact{
		width: 100% !important;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {

}

@media (min-width: 1200px) {

}